---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import { getSpiritIcon } from "../utils/spiritIcons";
import { getLiqueurIcon} from "../utils/liqueurIcons";
import CategoryCard from "../components/CategoryCard.astro";

const allCocktails = await getCollection('cocktails');

const spiritsMap = new Map<string, { count: number }>();
const liqueurMap = new Map<string, { count: number }>();

for (const drink of allCocktails) {
	for (const spirit of drink.data.spirits) {
		const key = spirit.toLowerCase();
		spiritsMap.set(key, {
			count: (spiritsMap.get(key)?.count ?? 0) + 1,
		});
	}

	for (const liqueur of drink.data.liqueurs ?? []) {
		const key = liqueur.toLowerCase();
		liqueurMap.set(key, {
			count: (liqueurMap.get(key)?.count ?? 0) + 1,
		});
	}

}

const liqueurs = Array.from(liqueurMap.entries())
	.map(([name, data]) => ({
		name,
		icon: getLiqueurIcon(name), // define this helper like getSpiritIcon
		count: data.count,
	}))
	.sort((a, b) => a.name.localeCompare(b.name));


const spirits = Array.from(spiritsMap.entries())
	.map(([name, data]) => ({
		name,
		icon: getSpiritIcon(name),
		count: data.count,
	}))
	  .sort((a, b) => a.name.localeCompare(b.name)); // New: sort A–Z


---

		<Layout title="By Spirit">
			<main class="bg-[url('/parchment-texture.jpg')] bg-repeat min-h-screen p-8 text-zinc-800 font-serif">
				<section class="max-w-6xl mx-auto">
					<h1 class="text-4xl font-bold mb-6 text-center border-b-4 border-dotted border-zinc-400 pb-2">
						📖 Cocktails By Main Spirit
					</h1>

					{spirits.length === 0 ? (
						<p class="text-center text-zinc-500 italic">No cocktails yet — time to get mixing!</p>
					) : (
						<ul class="grid gap-6 grid-cols-[repeat(auto-fill,minmax(200px,1fr))]">

						{spirits.map(({ name, icon, count }) => (
							<CategoryCard icon={icon} count={count} name={name} url={`/${name}`}/>
							))}
						</ul>
					)}
				</section>

				<section class="mt-25 max-w-6xl mx-auto">
					<h1 class="text-4xl font-bold mb-6 text-center border-b-4 border-dotted border-zinc-400 pb-2">
						📖 Cocktails By Liqueur
					</h1>


					{liqueurs.length === 0 ? (
						<p class="text-center text-zinc-500 italic">No cocktails yet — time to get mixing!</p>
					) : (
						<ul class="grid gap-6 grid-cols-[repeat(auto-fill,minmax(200px,1fr))]">

							{liqueurs.map(({ name, icon, count }) => (
								<CategoryCard icon={icon} count={count} name={name} url={`/${name}`}/>
							))}
						</ul>
					)}
				</section>


			</main>
		</Layout>
