---
import type { CollectionEntry } from 'astro:content';
import { getStyleIcon } from '../utils/styleIcons';
import { getGlasswareIcon } from '../utils/glasswareIcons';
import { getMethodIcon } from '../utils/methodIcons';

export interface Props {
  cocktail: CollectionEntry<'cocktails'>;
}

const { cocktail } = Astro.props;

const glassware: string = cocktail.data.glassware?.toString() ?? '';
const method: string = cocktail.data.method?.toString() ?? '';
---

<div class="p-2">
  {
    cocktail.data.styles?.length > 0 && (
      <>
        {cocktail.data.styles.map((style) => {
          const slug = style.toLowerCase();
          return (
            <a
              href={`/style/${slug}`}
              class="inline-flex items-center gap-1 rounded-full border border-zinc-800 bg-zinc-700 px-2 py-0.5 text-xs whitespace-nowrap text-zinc-200 hover:underline"
            >
              <span>{getStyleIcon(style)}</span>
              <span class="capitalize">{style}</span>
            </a>
          );
        })}
      </>
    )
  }

  {
    method && (
      <a
        href={`/method/${method.toLowerCase()}`}
        class="mt-3 inline-flex items-center gap-1 rounded-full border border-zinc-800 bg-zinc-700 px-2 py-0.5 text-xs whitespace-nowrap text-zinc-200 hover:underline"
      >
        <span>{getMethodIcon(method)}</span>
        <span class="capitalize">{method}</span>
      </a>
    )
  }

  {
    glassware && (
      <a
        href={`/glassware/${glassware.toLowerCase()}`}
        class="mt-3 inline-flex items-center gap-1 rounded-full border border-zinc-900 bg-zinc-700 px-2 py-0.5 text-xs whitespace-nowrap text-zinc-200 hover:underline"
      >
        <span>{getGlasswareIcon(glassware)}</span>
        <span class="capitalize">{glassware}</span>
      </a>
    )
  }
</div>
