---
import type {CollectionEntry} from "astro:content";
import Rating from '@/components/Rating.astro';
import {getMethodIcon} from '@/utils/methodIcons';
import {getStyleIcon} from "../utils/styleIcons";
import {getGlasswareIcon} from "../utils/glasswareIcons";
import CocktailLabels from "./CocktailLabels.astro";

export interface Props {
    cocktail: CollectionEntry<'cocktails'>;
}

const {cocktail} = Astro.props;
---

<li class="bg-white/90 border border-zinc-300 rounded-lg shadow hover:shadow-lg transition overflow-hidden">
    <a href={`/cocktails/${cocktail.id}`} class="block">
        <img
                src={cocktail.data.image ?? '/placeholder.png'}
                alt={cocktail.data.title}
                class={`w-full h-48 object-cover ${cocktail.data.image ? '' : 'opacity-60 blur-[1px]'}`}
        />

        <div class="p-4">
            <h2 class="text-xl font-semibold">{cocktail.data.title}</h2>
            <Rating rating={cocktail.data.rating}/>
            <p class="text-sm text-zinc-600 mt-1">{cocktail.data.description}</p>
        </div>

        <CocktailLabels cocktail={cocktail} />
    </a>
</li>
